<!-- path -->

<div class="p-10 xl:container xl:mx-auto 2xl:px-48">
  <div class="">
    <div>Inicio > Celulares y Accesorios > Celular Samsung A22</div>
  </div>
  <!-- producto title -->
  <!-- <div class="bg-yellow-500"> -->
    <div class="my-6 ">
      <h1 class="text-3xl font-bold">Celular Samsung A22 Blanco 128 GB</h1>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-0 h-0 md:w-6 md:h-6">
        <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
      </svg>
    </div> -->
  </div>
  <div class="grid grid-cols-5 space-x-12">
    <!-- md:flex flex-row justify-center -->
    <div class="col-span-2 flex justify-center">
      <div class="grid grid-cols-3 gap-4 w-96">
        <div class="col-span-3">
          <img src="../../../../assets/no-img.jpeg" class="w-full">
        </div>
        <div class="col-span-1">
          <img src="../../../../assets/no-img.jpeg" class="">
        </div>
        <div class="col-span-1">
          <img src="../../../../assets/no-img.jpeg" class="">
        </div>
        <div class="col-span-1">
          <img src="../../../../assets/no-img.jpeg" class="">
        </div>
    </div>
    </div>
    <div class="mt-6 col-span-3">
      <div class="text-sm">4.82 94 calificaciones</div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl
        tortor, lobortis non tortor sit amet, iaculis rhoncus ipsum. Fusce
        ornare nunc maximus dui molestie.Fusce ornare nunc maximus dui
        molestie
      </div>
      <div class="text-primary font-bold">Gs. 1.500.000</div>
      <input type="number" id="quantity" name="quantity" min="0" max="100" step="1" value="1" class="border rounded-lg my-2">
      <button class="bg-primary flex text-white hover:text-gray-300 w-60 h-10 pt-2 rounded justify-center">Comprar</button>
      <br>
      <hr>
      <div>SKU: MEGAOGN-001-4</div>
      <div>Tags: Celular, Samsung, 128GB</div>
    </div>
  </div>
  <div class="my-6">
    <div class="bg-secondary flex flex-row space-x-8 justify-center h-11 py-2 my-3 text-md font-bold">
      <h2>Descripcion</h2>
      <h2>Especificaciones</h2>
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl tortor, lobortis non tortor sit amet, iaculis rhoncus ipsum. Fusce ornare nunc
      maximus dui molestie.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl tortor, lobortis non tortor sit amet, iaculis rhoncus
      ipsum. Fusce ornare nunc maximus dui molestie.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl tortor, lobortis non tortor sit
      amet, iaculis rhoncus ipsum. Fusce ornare nunc maximus dui molestie.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl tortor,
      lobortis non tortor sit amet, iaculis rhoncus ipsum. Fusce ornare nunc maximus dui molesti obortis non tortor sit amet, iaculis rhoncus
      ipsum. Fusce ornare nunc maximus dui molestie.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl tortor, lobortis non tortor sit
      amet, iaculis rhoncus ipsum. Fusce ornare nunc maximus dui molestie.
    </div>
  </div>
  <div class="">
    <h2 class="text-2xl font-bold">Otros productos que pueden interesarte</h2>
    <div class="">
      <app-product></app-product>
    </div>
  </div>
</div>
